.Header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(61, 61, 61, 0.6);
-moz-box-shadow: 0px 5px 5px -5px rgba(61, 61, 61, 0.6);
box-shadow: 0px 5px 5px -5px rgba(61, 61, 61, 0.6);
}

.visualhead {
    width: 100%;
    height: 75px;
}

.Hlogo {
    font-weight: 700;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.basket-button {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.badge-price {
    position: absolute;
    top: 5px;
    margin-left: 40px;
    color: white !important;
}

.basket-button:active {
    transform: scale(0.9);
}